<!--
  Generated template for the DishlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{message}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <super-tabs (MessageEvent)="currentDish($event)" (tabSelect)="onTabSelect($event)">
        <super-tab [root]="page1" title="Veg"></super-tab>
        <super-tab [root]="page2" title="NonVeg"></super-tab>
        <super-tab [root]="page3" title="Selected"></super-tab>
    </super-tabs>
    <button ion-button color="danger" *ngIf="chkbtn" (click)="checkout()" class="checkstyle">Checkout</button>
</ion-content>
