<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Payment Method</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
        <ion-card>
            <ion-card-header color='dark' (click)="toggleAcc('upi')">
              UPI
            </ion-card-header>
            <ion-card-content #upitype>
              <button ion-item *ngFor="let upi of upi" color='mycolor' (click)="paymentSelect(upi.type)">{{upi.type}}</button>
            </ion-card-content>
        </ion-card>
  
        <ion-card>
            <ion-card-header color="dark" (click)="toggleAcc('card')">
              Debit/Credit Card
            </ion-card-header>
            <ion-card-content #cardtype>
              <button ion-item *ngFor="let upi of card" color='mycolor' (click)="paymentSelect(upi.type)">{{upi.type}}</button>
            </ion-card-content>
        </ion-card>
  
        <ion-card>
            <ion-card-header color="dark" (click)="toggleAcc('netbank')">
              Netbanking
            </ion-card-header>
            <ion-card-content #netbanktype>
              <button ion-item *ngFor="let upi of netbank" color='mycolor' (click)="paymentSelect(upi.type)">{{upi.type}}</button>
            </ion-card-content>
        </ion-card>
  
        <ion-card>
            <ion-card-header color="dark" (click)="toggleAcc('cod')">
              Cash on Delivery(COD)
            </ion-card-header>
            <ion-card-content #codtype>
              <button ion-item *ngFor="let upi of cash" color='mycolor' (click)="paymentSelect(upi.type)">{{upi.type}}</button>
            </ion-card-content>
        </ion-card>
  
        <ion-card>
            <ion-card-header color="dark" (click)="toggleAcc('paylater')">
              Pay Later
            </ion-card-header>
            <ion-card-content #paylatertype>
              <button ion-item *ngFor="let upi of paylater" color='mycolor' (click)="paymentSelect(upi.type)">{{upi.type}}</button>
            </ion-card-content>
        </ion-card>
  </ion-content>
  