page-paymenttype {
    .butblack{
        color:#212121 !important;
    }

    .card-header{
        background-color: map-get($colors ,dark);
        color:#fff;
    }

    .card-content{
        padding:0px;
        max-height:0px;
    }
}

.text-align{
    text-align: center;
}
