<!--
  Generated template for the FirstPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>first</ion-title>
  </ion-navbar>

</ion-header> -->



<ion-content class="background">
  <section class="layer">
    <h1 class="Title">Dummy</h1>
        <h4 class="subtitle"><span>Bar & Resto</span></h4>
  </section>
</ion-content>
<ion-footer class="pad0">
  <ion-toolbar positon="bottom" class="pad0">
    <div class="col-md-12 col-xs-12 pad0">
      <button ion-button color="light" full (click)="next()">Check our Menu</button>
    </div>
    <!-- <div class="col-md-6 col-xs-6 pad0">
      <button ion-button  color="light" full (click)="next('signup')">Signup</button>
    </div> -->
  </ion-toolbar>
</ion-footer>
