.background{
        background: url('../../assets/imgs/first.jpg');
        background-size:cover;
        background-position:center;
        position: relative;
}

.layer{
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}

.pad0{
    padding: 0px !important;
}


@font-face{
    font-family: hunterFont;
    src: url(../../assets/hunter/Hunter__.ttf);
}

.Title{
    font-family: hunterFont;
    position:absolute;
    z-index:2;
    text-align:center;
    width:100%;
    top:18%;
    color:#fff;
}

.subtitle{
    font-family: hunterFont;
    position:absolute;
    z-index:2;
    text-align:center;
    width:100%;
    top:36%;
    color:#fff;
}

.imgpos{
    position:absolute;
}

h4.subtitle {
    display: table;
    white-space: nowrap;
    &:before,
    &:after {
      border-top: 1px solid #fff;
      content: "";
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 15%;
    }
    &:before {
      right: -15.5%;
    }
    &:after {
      left: -15.5%;
    }
  }