<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      Name
      <button ion-button color="danger" class="pull-right editstyle">Edit</button>
    </ion-card-header>
    <ion-card-content>
      Gaurav
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Mobile
      <button ion-button color="danger" class="pull-right editstyle">Edit</button>
    </ion-card-header>
    <ion-card-content>
      7506936046
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Password
      <button ion-button color="danger" class="pull-right editstyle">Edit</button>
    </ion-card-header>
    <ion-card-content>
      ********
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Address
      <button ion-button color="danger" class="pull-right editstyle">Edit</button>
    </ion-card-header>
    <ion-card-content>
      <div>
        <label>Home</label>
        <p>addresss homeeee</p>
      </div>
      <div class="topspace">
        <label>Home</label>
        <p>addresss homeeee</p>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
