<!--
  Generated template for the SubdishlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="text-center" *ngIf="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{value}}</ion-title>
    <ion-icon name="cart" class="pull-right iconstyle"></ion-icon>
    <ion-icon name="contact" class="pull-right iconstyle"></ion-icon>
   
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-card class="margauto">
    <ion-grid>
      <ion-row class="margr0" *ngFor="let dish of dishlist;let i=index">
        <ion-col col-5 class="mid">
          <img src="assets/imgs/1.jpeg" style="height:90%" />
        </ion-col>
        <ion-col col-5>
          <ion-card-content class="pad0">
            <ion-card-title>
              {{dish.name}}
            </ion-card-title>
            <p style="font-size:65%">
              {{dish.description}}
            </p>
          </ion-card-content>
        </ion-col>
        <ion-col col-2 class="pull-right">
          <button ion-button class="quantbut" text-center color="dark" outline (click)="quantity('+',i,dish)">
              <ion-icon name="add"></ion-icon>
          </button>
          <ion-input type="text" text-center [value]="dish.count" placeholder="Enter quantity"></ion-input>
          <button ion-button class="quantbut" color="dark" text-center outline (click)="quantity('-',i,dish)">
              <ion-icon name="remove"></ion-icon>
          </button>  
      </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>