<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{header}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid padding>
    <ion-row style="background:#000;border-radius:11px">
        <!-- <button ion-button color="light" class="changestyle">Change Color</button> -->
        <article>
        <section class="first">
      <ion-col col-9>
          <ion-item>
              <ion-label floating color="light" class="text-left padtop0">Enter Card Number</ion-label>
              <ion-input type="text"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col col-3>
          <img src="../assets/imgs/cards/visa.svg">
      </ion-col>
      <ion-col col-9>
          <ion-item>
              <ion-label floating color="light" class="text-left padtop0">Enter expiry date(MM/YY)</ion-label>
              <ion-input type="text" color="light"></ion-input>
          </ion-item>
      </ion-col>
      <ion-col col-9>
        <ion-item>
          <ion-label floating color="light" class="text-left padtop0">Enter your name</ion-label>
          <ion-input type="text" color="light"></ion-input>
        </ion-item>
      </ion-col>
      </section>

      <section class="first second">
        
      </section>
    </article>
    </ion-row>
  </ion-grid> 
  <button ion-button color="mycolor" col-12>Next</button>
</ion-content>
