page-payment {

    .padtop0{
        padding-top: 0px;
    }

    .changestyle{
        font-size:1.2rem !important;
        height:2rem !important;
    }

    ion-input{
        color:#fff;
    }

    article{
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: all 1s ease-in-out;
        width: 100%;
      }

      article:hover{
        transform: rotateY(180deg);
      }

      article .first{
        backface-visibility: hidden;
        border-radius: 6px;
        height: 100%;
        position: relative;
        overflow: hidden;
        width: 100%;
      }

      article .second{
        background: #eaeaed;
        color: #0087cc;
        line-height: 150px;
        text-align: center;
        transform: rotateY(180deg);
      }

}

.butblack{
    color:#212121 !important;
}
.text-left{
    text-align: left !important;
}
