page-nonveg {

}

.blacktext{
    color:#272727;
}

.dispinflex{
    display:inline-flex;
}

.pad0{
    padding:0px;
}

.quantbut{
    font-size: 10px;
}

.mid{
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

ion-icon{
    color:#272727;
}

.margr0{
    margin-right:0px !important;
}

.margauto{
    margin:auto !important;
}

ion-app.ios [padding] .scroll-content{
    padding:0 7px !important;
    margin-top:7px;
}
