<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>signup</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding class="bg">
  <ion-grid class="titlepos">
    <ion-row>
      <ion-col class="checkpos" col-12>
          <h1>Dummy</h1>
          <h4><span>SignUp</span></h4>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
          <ion-list>
            <form [formGroup]="signupForm" (ngSubmit)="signup()">
              <ion-item>
                  <ion-label floating class="labelcolor">Enter Your Mobile Number</ion-label>
                  <ion-input type="text" class="signcolor" formControlName="mobile"></ion-input>
                  <span class="help-block required" *ngIf="signupForm.controls.mobile.invalid && (signupForm.controls.mobile.touched || !signupForm.controls.mobile.pristine)">Error</span>
              </ion-item>
            <div id="signup" *ngIf="false"> 
            <ion-item>
                <ion-label floating class="labelcolor">Enter Your Name</ion-label>
                <ion-input type="text" class="signcolor" formControlName="name"></ion-input>
            </ion-item>
            
            <ion-item>
                <ion-label floating class="labelcolor">Enter <span>Your Choice </span>Password</ion-label>
                <ion-input type="password" class="signcolor" formControlName="password"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating class="labelcolor">Re-enter Password</ion-label>
                <ion-input type="password" class="signcolor" formControlName="repassword"></ion-input>
            </ion-item>
            </div>
            <button type="submit" ion-button col-12 class="subcolor" [disabled]="!signupForm.valid">Signup</button>
            </form>
          </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
          <h4 class="subtitlesign"><span>OR</span></h4>
          <button ion-button block color="danger"><ion-icon class="signicons" name="logo-google"></ion-icon>Login in with Gmail</button>
          <button ion-button block><ion-icon class="signicons" name="logo-facebook"></ion-icon>Login in with Facebook</button>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
