.bg{
    background-color: #ffa84c;
    background: #ffa84c;
    background: -moz-radial-gradient(center, ellipse cover, #ffa84c 0%, #ff7b0d 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #ffa84c 0%,#ff7b0d 100%);
    background: radial-gradient(ellipse at center, #ffa84c 0%,#ff7b0d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=1 );
}

.checkpos h1,.checkpos h4{
    font-family: hunterFont;
    text-align:center;
    width:100%;
    color:#fff;
}

.titlepos{
   margin-top:9%;
}

.labelcolor{
    color:#E8440C !important;
    text-align: left !important;
}

.signcolor{
    color:#E8440C !important;
    text-align: left !important;
}

ion-item{
    background-color: transparent !important;
}

.subcolor{
    background: #fff;
    color:#E8440C;
}

.subtitlesign{
    font-family: hunterFont;
    z-index:2;
    text-align:center;
    width:100%;
    color:#fff;
}

h4.subtitlesign {
    display: table;
    white-space: nowrap;
    &:before,
    &:after {
      border-top: 1px solid #fff;
      content: "";
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 15%;
    }
    &:before {
      right: -25.5%;
    }
    &:after {
      left: -25.5%;
    }
  }

  .signicons{
      color:#fff;
      margin-right:4%;
  }