page-billsummary {
  
}

ion-content{
      background-color:#ececec !important;
}

.center{
    text-align:center;
}

.name{
    color:#ec512e;
}

.itempad{
    padding: 0% 10%;
    background-color:#fff !important;
    border-radius:5px;
    width:91% !important; 
    border:solid 1px #e0e0e0;
}

.totalpad{
    padding: 0% 10%;
    width:91% !important;
}

.fas{
    color:#272727;
}

.botstyle{
    border-bottom:solid 1px #e0e0e0;
}

.codecolor{
    color:#212121 !important;
}

.margbot{
    margin-bottom: 0px;
}

.font10{
    font-size:10px !important;
    text-align:center;
}

.eeebg{
    background: #eee !important;
}

.discprice{
    font-size: 165% !important;
}

.delpos{
    margin-top: 5% !important;
    margin-right: 3% !important;
    color:#757575 !important;
}

.red{
    color:red;
}

.radioname{
    background-color: transparent;
    color: #212121;
    button.alert-button:nth-child(1){
        color: #c9302c;
      }

      button.alert-button:nth-child(3){
        color: #449d44;
      }
}

.alert-ios [aria-checked=true] .alert-radio-label{
    color:#ec512e !important;
}

.alert-ios [aria-checked="true"] .alert-radio-inner{
    border-color: #ec512e !important;
}

.cancelbutton{
    background-color: red;
    color:#fff;
}

.successbutton{
    background-color:#fff;
    color:#212121;
}

// .topstyle{
//     border-top:solid 1px #e0e0e0;
// }