<!--
  Generated template for the BillsummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>billsummary</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>

    <ion-grid>
        <ion-row>
          <ion-col col-12 class="center">
            <h3 class="name">Gaurav Shetty</h3>
          </ion-col>
          <ion-col col-12 class="center">
            <h6 class="name">Order id 415asd23as</h6>
          </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="itempad">
      <ion-row>
        <ion-col col-12 class="botstyle">
          Your Order
        </ion-col>
        <ion-col col-12>
          <ion-col col-8 no-padding>
            1&nbsp;x&nbsp;Lasagne shroom
          </ion-col>
          <ion-col col-4>
            <span class="pull-right"><i class="fas fa-rupee-sign"></i>&nbsp;180</span>
          </ion-col>
        </ion-col>
        <ion-col col-12>
            <ion-col col-8 no-padding>
              2&nbsp;x&nbsp;Santino Burger
            </ion-col>
            <ion-col col-4>
              <span class="pull-right"><i class="fas fa-rupee-sign"></i>&nbsp;380</span>
            </ion-col>
        </ion-col>
       
      </ion-row>
    </ion-grid>

    <ion-grid class="itempad">
      <ion-row>
        <ion-col col-12 class="text-center">
          Discount Code(Optional)
        </ion-col>
        <ion-col col-12 class="eeebg">
          <!-- <ion-list class="margbot"> -->
          <ion-item>
            <ion-label class="codecolor">CODE</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <!-- </ion-list> -->
        </ion-col>
        <ion-col col-12>
          <p class="font10">40% discount applied</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="itempad">
        <ion-row>
          <!-- <ion-col col-12 class="botstyle">
            Your Order
          </ion-col> -->
          <ion-col col-12>
            <ion-col col-8 no-padding>
              Total without discount
            </ion-col>
            <ion-col col-4>
              <span class="pull-right"><i class="fas fa-rupee-sign"></i>&nbsp;590</span>
            </ion-col>
          </ion-col>
          <ion-col col-12>
              <ion-col col-8 no-padding>
                GST(5%)
              </ion-col>
              <ion-col col-4>
                <span class="pull-right"><i class="fas fa-rupee-sign"></i>&nbsp;24</span>
              </ion-col>
          </ion-col>
          <ion-col col-12>
              <ion-col col-8 no-padding class="red">
                Discount(MACK50)
              </ion-col>
              <ion-col col-4 class="red">
                <span class="pull-right"><i class="fas fa-rupee-sign"></i>&nbsp;100</span>
              </ion-col>
          </ion-col>
         
        </ion-row>
      </ion-grid>

    <ion-grid class="totalpad">
      <ion-row>
        <ion-col col-4>
          Total Order
        </ion-col>
        <ion-col col-8> 
          <span class="pull-right discprice"><i class="fas fa-rupee-sign"></i>&nbsp;514</span>
          <del class="pull-right delpos"><i class="fas fa-rupee-sign"></i>590</del>
        </ion-col>
      </ion-row>
      <ion-row>
          <button col-12 ion-button round color="secondary" (click)="getAddress()">Order</button>
      </ion-row>
    </ion-grid>

</ion-content>
