<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="text-center">
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Menu</ion-title>
      <ion-icon name="cart" (click)="goCart()" class="pull-right iconstyle"></ion-icon>
      <ion-icon name="contact" (click)="goProfile()" class="pull-right iconstyle"></ion-icon>
     
    </ion-navbar>
  </ion-header>

<ion-content>
    <ion-slides class="size" (ionSlideDidChange)="slideChanged()">
        <ion-slide>
          <img src="assets/imgs/1.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/imgs/2.jpg">
        </ion-slide>
        <ion-slide>
            <img src="assets/imgs/3.jpg">
        </ion-slide>
    </ion-slides>
    <!-- <button ion-button color="light" full (click)="gotoSlide()">Next</button> -->

    <ion-grid class="image">
      <ion-row>
        <ion-col col-6 class="text-center bg1">
          <div class="blacklayer" (click)="godish('Soups')">
              <h3 class="text-white pull-left textpos" col-11>Soups
              <i class="fas fa-angle-right text-white pull-right"></i></h3>
          </div>
        </ion-col>
        <ion-col col-6 class="text-center bg2">
          <div class="blacklayer" (click)="godish('Biryani')">
              <h3 class="text-white pull-left textpos" col-11>Biryani
              <i class="fas fa-angle-right text-white pull-right"></i></h3>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 class="text-center bg3">
          <div class="blacklayer" (click)="godish('Starters')">
              <h3 class="text-white pull-left textpos" col-11>Starters
              <i class="fas fa-angle-right text-white pull-right"></i></h3>
          </div>
        </ion-col>
        <ion-col col-6 class="text-center bg4">
          <div class="blacklayer" (click)="godish('Kebabs')">
              <h3 class="text-white pull-left textpos" col-11>Kebabs
              <i class="fas fa-angle-right text-white pull-right"></i></h3>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 class="text-center bg5">
          <div class="blacklayer" (click)="godish('Curries')">
              <h3 class="text-white pull-left textpos" col-11>Curries
              <i class="fas fa-angle-right text-white pull-right"></i></h3>
          </div>
        </ion-col>
        <ion-col col-6 class="text-center bg6">
          <div class="blacklayer" (click)="godish('Chinese')">
              <h3 class="text-white pull-left textpos" col-11>Chinese
              <i class="fas fa-angle-right text-white pull-right"></i></h3>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
   
</ion-content>
