page-menu {

}

.size{
 height:30% !important;   
}


.blacklayer{
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}


.text-white{
    font-weight: 300;
    color:#fff;
}

.textpos{
    position: relative;
    top: -25%;   
}

.bg1{
    background:url(../assets/imgs/soup.jpg);
    width:100%;
    height:54px;
    background-size:cover;
    background-position:center;
    position: relative;
}

.bg2{
    background:url(../assets/imgs/biryani.jpg);
    width:100%;
    height:54px;
    background-size:cover;
    background-position:center;
    position: relative;
}

.bg3{
    background:url(../assets/imgs/starter.jpeg);
    width:100%;
    height:54px;
    background-size:cover;
    background-position:center;
    position: relative;
}

.bg4{
    background:url(../assets/imgs/kebab.jpeg);
    width:100%;
    height:54px;
    background-size:cover;
    background-position:center;
    position: relative;
}

.bg5{
    background:url(../assets/imgs/curry.jpeg);
    width:100%;
    height:54px;
    background-size:cover;
    background-position:center;
    position: relative;
}

.bg6{
    background:url(../assets/imgs/chinese.jpg);
    width:100%;
    height:54px;
    background-size:cover;
    background-position:center;
    position: relative;
}

.iconstyle{
    font-size:20px !important;
    margin-right:10px;
}
